<div id="about-setting-container" data-win-control="WinJS.UI.SettingsFlyout" aria-label="About" data-win-options="{width:'narrow'}">
	<div class="win-header">
		<button type="button" onclick="WinJS.UI.SettingsFlyout.show()" class="win-backbutton"></button>
		<div class="win-label">About</div>
	</div>
	<div class="win-content">
		<div>
			Version: <span id="app-version"></span>
		</div>
		<br />
		<div>
			Developed by ALZA
		</div>
		<br />
		<div>
			<img src="/img/eventbrite-logo-white.png" />
		</div>
		<p>Want to ask question or tell us about your idea or bug?<br /><br />
			<a href="http://eventy-app.blogspot.com/">Visit Eventy Blog</a>
		</p>
	</div>
</div>