<div id="privacy-setting-container" data-win-control="WinJS.UI.SettingsFlyout" aria-label="Privacy Policy"
		data-win-options="{width:'wide'}">
	<div class="win-header" >
		<button type="button" onclick="WinJS.UI.SettingsFlyout.show()" class="win-backbutton"></button>
		<div class="win-label">Privacy Policy</div>
	</div>
	<div id="privacy-content" class="win-content">
		Eventy does not store any of your personal information.
		<br /><br />
		When you use this Application, we may use your location for the purpose of providing you with events in your location.
		You can disable this function at any time in the settings menu.
		<br /><br />
		Eventy logs some crash and usage information on your device to improve your experience in the future releases, but doesn't include any personal or sensitive information.
		<br /><br />
		For any question regarding to this privacy policy, send us an email:<br /> <a href="mailto:eventy.feedback@gmail.com">eventy-support@gmail.com</a>
		<br /><br />
		For Eventbrite Privacy Policy visit <a href="https://www.eventbrite.com/privacypolicy/">Eventbrite Website</a>
	</div>
</div>