<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="26342AlZa.Eventy" Version="1.0.0.0" Publisher="CN=F756B41E-C503-4E28-94D3-CAA155D84369" />
  <Properties>
    <DisplayName>Eventy</DisplayName>
    <PublisherDisplayName>AlZa</PublisherDisplayName>
    <Logo>img\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="html\index.html">
      <VisualElements DisplayName="Eventy" Logo="img\logo.png" SmallLogo="img\smalllogo.png" Description="Eventy" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" WideLogo="img\wide_logo.png" />
        <SplashScreen Image="img\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>