#top-bar.win-appbar #search-filter-form {
	line-height: 90px;
	padding-left: 20px;
}

	#top-bar.win-appbar #search-filter-form input[type=submit] {
		border:none;
		width: 32px;
		min-width: 32px;
		font-family:"Segoe UI Symbol";
		background-color: transparent;
		font-size: 140%;
		cursor: pointer;
	}