.tiles.win-listview {
	height: 100%;

	.win-item {
		width: 450px;
		height: 180px;

		display: -ms-grid;

		-ms-grid-columns: 150px 1fr;
		-ms-grid-rows: 10px 1fr;

		.event-category{
			-ms-grid-row: 1;
			-ms-grid-column-span:2;
		}

		.event-thumbnail {
			-ms-grid-column: 1;
			-ms-grid-row: 2;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		.event-details {
			-ms-grid-column: 2;
			-ms-grid-row: 2;
			padding-left: 10px;
			box-sizing: border-box;

			p{
				overflow: hidden;
			}

			.event-details-title{
				max-height: 40px;
			}

			.event-details-category-name{
				position: absolute;
				bottom: 0;
			}

			.event-details-distance{
				position: absolute;
				bottom: 0;
				right: 10px;
				font-weight: bolder;
			}
		}
	}
}


@media screen and (-ms-view-state: snapped) {
	.tiles.win-listview .win-item {
		width: 249px;

		-ms-grid-columns: 1fr;
		-ms-grid-rows: 10px 1fr;

		.event-details {
			display: none;
		}
	}
}


