<footer aria-label="Commands bar" role="toolbar">
	<div class="right">
		<button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id:'openInBrowser', section:'global', label:'Browser', icon:'world', hidden:true}" type="button"></button>
		<button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id:'editCategories', section:'global', label:'Edit Categories', icon:'edit'}" type="button"></button>
		<button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id:'explore', section:'global', label:'Explore', icon:'street', hidden:true}" type="button"></button>
		<button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id:'next', section:'global', label:'Next', icon:'next', hidden:true}" type="button"></button>
	</div>
</footer>