<footer aria-label="Commands bar" role="toolbar">
	<div class="right">
		<button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{
			id:'openInBrowser',
			section:'global',
			label:'Browser',
			icon:'world',
			hidden:true,
			tooltip: 'Open in browser'
		}" type="button"></button>
		<button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{
			id:'explore',
			section:'selection',
			label:'Explore',
			icon:'street',
			hidden:true,
			tooltip: 'Explore selected events'
		}" type="button"></button>
		<button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{
			id:'next',
			section:'global',
			label:'Next',
			icon:'next',
			hidden:true,
			tooltip: 'Go to the next event'
		}" type="button"></button>
	</div>
</footer>