.categories-page .win-listview {
	height: 90%;
}

	.categories-page .win-listview .win-item {
		width: 350px;
		height: 150px;

		display: -ms-flexbox;
		-ms-flex-align: center;
		-ms-flex-pack: center;

		font-size: 150%;
	}

#button-container {
	float: right;
}
