.explore-page .win-flipview {
	height: 100%;
}

	.clear-float{
		clear: both;
	}

	.explore-page .win-flipview .win-item iframe {
		width: 100%;
		height: 100%;
	}

	.explore-page .event-content {
		width: 100%;
		height: 100%;

		overflow-y: scroll;
	}

		.explore-page .event-content a {
			cursor: pointer;
		}

		.explore-page .event-content .main{
			min-width: 700px;
			vertical-align: top;
			text-align: left;
			width: 960px;
			margin: auto;
		}

		.explore-page .event-content header.main-header, .explore-page .event-content footer.main-footer {
			width: 100%;
			margin-bottom: 20px;
			padding-top: 7px;
		}

		.explore-page .event-content section.main{
			min-width: 700px;
			vertical-align: top;
			text-align: left;
		}

			.explore-page .event-content section.main header{
				border-bottom: 1px dotted #C0BDB6;
				margin-bottom: 18px;
				padding-bottom: 14px;
			}
				.explore-page .event-content section.main header table{
					width: 960px;
					border-collapse: collapse;
					border-spacing: 0;
				}

					.explore-page .event-content section.main header table td.sub-header-info{
						vertical-align: bottom;
					}

						.explore-page .event-content section.main header table td.sub-header-info h1{
							margin-top: 8px;
							font-size: 26px;
							line-height: 28px;
							font-weight: bold;
							margin: 0;
							padding-bottom: 5px;
						}

						.explore-page .event-content section.main header table td.sub-header-info h2{
							font-size: 17px;
							text-align: left;
							line-height: 21px;
							color: #8D0000;
							margin: 0;
							padding: 0;
							font-weight: 300;
						}

							.explore-page .event-content section.main header table td.sub-header-info .event_network h2{
								margin: 0;
								padding: 0;
								line-height: 21px;
							}


					.explore-page .event-content section.main header table td.sub-header-logo{
						width: 300px;
						text-align: center;
					}

						.explore-page .event-content section.main header table td.sub-header-logo .event-title-image {
							margin-top: 10px;
						}

			.explore-page .event-content section.main .panel{
				margin-bottom: 20px;
				border: 1px solid transparent;
			}

				.explore-page .event-content section.main .panel .panel-body{
					padding-top: 3px;
					padding-left: 11px;
					padding: 13px 14px;
				}

				.explore-page .event-content section.main .panel .panel-head{
					background-color: #EFEFEF;
					color: #005580;
					width: auto;
					line-height: 22px;
					font-weight: 500;
					border-bottom: 1px solid #D5D5D3;
					padding: 6px 11px 7px 14px;
				}

					.explore-page .event-content section.main .panel .panel-head h3{
						font-size: 120%;
					}

			.explore-page .event-content section.main .left-column{
				float: left;
				width: 628px;
				padding: 0;
			}

				.explore-page .event-content section.main .left-column .panel{
					min-width: 400px;
				}

					.explore-page .event-content section.main .left-column .panel .panel-body td{
						border-top: 1px solid #D5D5D3;
						padding: 12px 5px;
						vertical-align: top;
					}

						.explore-page .event-content section.main .left-column .panel .panel-body td.right{
							text-align: right;
						}

						.explore-page .event-content section.main .left-column .panel .panel-body td.center{
							text-align: center;
						}

					.explore-page .event-content section.main .left-column .panel .panel-body .table-head{
						text-transform: uppercase;
						font-weight: bold;
						font-size: 80%;
					}

						.explore-page .event-content section.main .left-column .panel .panel-body .table-head td{
							border-top:0;
							padding: 5px 5px 3px 5px;
						}

					.explore-page .event-content section.main .left-column .panel .panel-footer a,
					.explore-page .event-content section.main .left-column .panel .panel-footer a:hover
					{
						float: right;
						background: -ms-linear-gradient(top, rgba(138, 199, 0, 1) 0%,rgba(125, 192, 0, 1) 50%,rgba(110, 180, 0, 1) 100%);
						background: linear-gradient(to bottom, rgba(138, 199, 0, 1) 0%,rgba(125, 192, 0, 1) 50%,rgba(110, 180, 0, 1) 100%);

						height: 32px;
						width: 128px;

						font-size: 120%;
						font-weight: bold;
						color: #fff;

						border: none;
						line-height: 32px;

						padding: 5px;
						margin-bottom: 14px;
						margin-right: 14px;

						text-align: center;

						cursor: pointer;
					}


			.explore-page .event-content section.main .right-column{
				float: right;
				width: 300px;
				margin-bottom: 24px;
				padding: 0;
			}

				.explore-page .event-content section.main .right-column .panel{
					min-width: 300px;
				}

					.explore-page .event-content section.main .right-column .panel.when-where .panel-body .map{
						width: 270px;
						height: 270px;
					}

					.explore-page .event-content section.main .right-column .panel.when-where .panel-body h2{
						font-size: 1.0em;
						line-height: normal;
						font-weight: normal;
						color: black;
						margin: 0;
						padding: 0;
						text-align: left;
					}

				.explore-page .event-content section.main .right-column .open-in-browser-a{
					display: inline-block;
					height: auto;
					line-height: 27px;
					padding: 9px 9px 9px 54px;
					min-width: 180px;
					position: relative;
					font-size: 13px;
					border-radius: 5px;
					box-shadow: 0 1px 0 white inset, 0 -1px 0 whiteSmoke inset;
					background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #E4E4E4;
					border: medium none;
					color: #555;
					cursor: pointer;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 20px;
					font-weight: bold;
					height: 44px;
					padding: 9px 23px;
					text-decoration: none;
					text-shadow: 0 1px white;
					width: 174px;
					border: 1px solid #B5B5B5;

					margin-bottom: 5px;
					margin-right: 5px;
				}

