.welcome-page {

	display: -ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

	.welcome-page .welcome-prompt {
	

		width: 550px;
		height: 350px;

		background-color: rgb(29, 29, 29);

		box-shadow:  0 1px 5px 0 rgba(0, 0, 0, .1);

		border-radius: 15px;

		
		background-repeat: repeat;
		background-size:4px 4px;
	}

		.welcome-page .welcome-prompt .welcome-prompt-title{
			font-size: 340%;
			font-style: italic;
			margin-bottom: 20px;
		}

			.welcome-page .welcome-prompt .welcome-prompt-title *{
				vertical-align: middle;
			}

		.welcome-page .welcome-prompt .welcome-prompt-logo-container{
			display: -ms-flexbox;
			-ms-flex-align: center;
			-ms-flex-pack: center;
		}


		.welcome-page .welcome-prompt .welcome-prompt-content{
			font-size: 150%;
		}

		.welcome-page .welcome-prompt .welcome-prompt-title,
		.welcome-page .welcome-prompt .welcome-prompt-content {
			text-align: center;
		}

		.welcome-page .welcome-prompt .signin-controls{
			display: -ms-flexbox;
			-ms-flex-align: center;
			-ms-flex-pack: center;
		}

		.welcome-page .welcome-prompt .signin-controls button{
			width: 230px;
		}

		.welcome-page .welcome-prompt .signin-controls #btn-connect{
			background-color: #ec5000;
		}

			.welcome-page .welcome-prompt .signin-controls button .eventbrite-capital{
				font-style: italic;
				font-size: 160%;
				float:left;
				line-height:90%;
				padding-right: 7px;
			}

			.welcome-page .welcome-prompt .signin-controls button .eventbrite-name{
				vertical-align:middle;
			}


@media screen and (-ms-view-state: snapped) {
	.welcome-page .welcome-prompt {
		width: 280px;
		height: 450px;
	}

	.welcome-page .welcome-prompt .signin-controls{
		-ms-flex-direction: column;
	}
}
