body{
	background-color: rgb(29, 29, 29);
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);

	background-repeat: repeat;
	background-size:4px 4px;

	font-family: 'Segoe UI';
}

button.command-button {
	font-size: 120%;
	background-color: #ec5000;
	color: #fff;
	margin: 10px;
	border: none;
	vertical-align: middle;
	height: 40px;
}

#content {
	height: 100%;
	width: 100%;

	padding: 100px 20px 100px 20px;

	box-sizing: border-box;
}

	#content .page {
		height: 100%;
	}

#progress-indicator-holder{
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	z-index: 999;

	display: -ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}


#navigation-menu{
	max-height: 60%;
	min-width: 260px;
}

.right{
	float: right;
}