<form id="search-refine-form">
	<input id="search-query" type="text" placeholder="Search query..." />
	<br />
	<input id="search-location" type="text" placeholder="Location..." />
	<br />
	<select id="search-date">
		<option value="today">Today</option>
		<option value="this_week" selected="selected">This Week</option>
		<option value="next_week">Next Week</option>
		<option value="this_month">This Month</option>
		<option value="next_month">Next Month</option>
		<option value="future">Future</option>
		<option value="past">Past</option>
		<option value="all">All</option>
	</select>
	<input type="submit" value=""/>
</form>