<form id="search-refine-form">
	<input id="search-query" type="text" placeholder="Search query..." />
	<br />
	<input id="search-location" type="text" placeholder="Location..." />
	<br />
	<select id="search-date">
		<option value="today">Today</option>
		<option value="this_week" selected="selected">This Week</option>
		<option value="next_week">Next Week</option>
		<option value="this_month">This Month</option>
		<option value="next_month">Next Month</option>
		<option value="future">Future</option>
		<option value="past">Past</option>
	<!--<option value="all">All</option>-->
	</select>
	<br />
	<span>Search within </span>
	<select id="search-within">
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="50" selected="selected">50</option>
		<option value="100">100</option>
		<option value="150">150</option>
		<option value="200">200</option>
	</select>
	<select id="search-within-type">
		<option value="M" selected="selected">m</option>
		<option value="K">km</option>
	</select>
	<br />
	<input type="submit" class="command-button" value=""/>
</form>