<section class="page welcome-page">
	<div class="welcome-prompt">
		<p class="welcome-prompt-title">Eventy</p>
		<div class="welcome-prompt-logo-container">
			<img src="/img/eventbrite-logo-white.png" />
		</div>
		<p class="welcome-prompt-content">Find out what is going on around you!</p>
		<div class="signin-controls">
			<button id="btn-signin" class="command-button"><span class="eventbrite-capital">E</span><span class="eventbrite-name">Connect to Eventbrite</span></button>
			<button id="btn-try" class="command-button">Dive right now!</button>
		</div>
	</div>
</section>